:root {
  --rosa: #ff48ca;
  --rosa-claro: #ff00f2;
  --verde: #4f5;
  --verde-claro: #dffe00;
  --cyan: #0ff;
  --cyan-claro: #00e1e1;
  --violeta: #8215bc;
  --violeta-claro: #c08add;
  --naranja: #f90;
  --naranja-claor: #f8c100;
  --negro-texto: #212529;
  /*--negro-fondo: #333;*/
  --negro-fondo: #222;
  --blanco: #fff;
  --gris-claro: #f0f0f0;
  --gris-oscuro: #343a40;
  /*
    violeta main
    rosa software
    verde diseño
    cyan tecnicas
    */
}
body {
  background-color: var(--blanco);
  font-family: "Kulim Park", sans-serif; /* 200 light, 400 regular, 600 semi bold */
  color: var(--negro-texto);
  font-weight: 400;
}
h1,
h2 {
  font-family: "Anton", sans-serif; /* solo bold */
}
.texto-descripcion,
.card-title {
  font-size: 1.2rem;
}
/***** BOTONES Y ACENTO *****/
.accent:hover {
  background-color: var(--negro-fondo);
}
/* ROSA */
.accent-rosa:hover i {
  color: var(--rosa);
}
.accent-rosa:hover .btn {
  border-color: var(--rosa);
  color: var(--rosa);
}
.btn-rosa:hover {
  background-color: var(--rosa);
  border-color: var(--rosa);
  color: var(--negro-texto) !important;
}
/* VERDE */
.accent-verde:hover i {
  color: var(--verde);
}
.accent-verde:hover .btn {
  border-color: var(--verde);
  color: var(--verde);
}
.btn-verde:hover {
  background-color: var(--verde);
  border-color: var(--verde);
  color: var(--negro-texto) !important;
}
/* CYAN */
.accent-cyan:hover i {
  color: var(--cyan);
}
.accent-cyan:hover .btn {
  border-color: var(--cyan);
  color: var(--cyan);
}
.btn-cyan:hover {
  background-color: var(--cyan);
  border-color: var(--cyan);
  color: var(--negro-texto) !important;
}
.btn-inscripcion {
  padding: 0.5rem 2.5rem;
  font-size: 1.2rem;
}
/* VIOLETA */
.accent:hover h5,
.accent:hover p,
.accent:hover h3 {
  color: var(--white);
}
.btn-violeta {
  padding: 0.5rem 2.5rem;
  font-size: 1.2rem;
}
.btn-violeta:hover {
  background-color: var(--violeta);
  border-color: var(--violeta);
  color: var(--blanco) !important;
}
button.mercadopago-button {
  color: #fff;
  background-color: var(--accent);
  border-color: var(--accent);
}
button.mercadopago-button:hover {
  color: #fff;
  background-color: var(--secondary);
  border-color: var(--secondary);
}
/***** ANIMACIONES *****/
.animacion {
  opacity: 0;
  transform: translateY(8rem);
  transition: 0.2s all ease-in-out;
}
.mostrar-animacion {
  opacity: 1;
  transform: translateY(0px);
}
/***** NAVBAR *****/
.nav-link,
.navbar-brand {
  padding-top: 5px;
  color: var(--negro-texto);
}
.nav-link {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.1s;
}
.nav-link:hover,
.nav-link:focus {
  background-size: 100% 1px;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
  font-size: 1.1rem;
  color: var(--negro-texto);
}
/***** DROPDOWN MENU *****/
.dropdown-menu {
  margin-top: 0;
}
.dropdown-menu .dropdown-toggle::after {
  vertical-align: middle;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
  left: 100%;
  top: 0%;
  margin: 0 20px;
  border-width: 0;
}
.dropdown-menu .dropdown .dropdown-menu.left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
  background: var(--violeta);
  color: white;
}
.dropdown-menu > li.show > a {
  color: white;
}

@media (min-width: 768px) {
  .dropdown-menu .dropdown .dropdown-menu {
    margin: 0;
    border-width: 1px;
  }
}
/***** FOOTER *****/
#footer-contenedor {
  background: var(--negro-fondo);
}
.iconos-footer {
  font-size: 20px;
}
.iconos-footer:hover {
  color: var(--violeta);
  transition: 0.1s;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: var(--violeta);
  transition: 0.1s;
}

/***** MOBILE *****/
@media only screen and (max-width: 420px) {
  .contacto-form h1 {
    font-size: 30px;
  }
  .altura-textarea {
    min-height: 10vh;
  }
}
